################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1/obj
/Lab1/bin/Release/net8.0-windows/win-x64
/Lab1/bin/Release/net8.0-windows/app.publish
/Lab1/bin/Release/net8.0-windows
/Lab1/bin/Debug/net8.0-windows
/Lab1/.vs/Lab1
/Lab2/code/.vs/ti_2tr
/Lab2/code
/Lab3/Lab3/.vs
